*{
  box-sizing: border-box;

}

body{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #8FA8B5;
}

h1{
  text-align: center;
  font-size: 44px;
}

header{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 90%;
  /*border: 1px solid red;*/
  margin: auto auto;
  }

  input{
    height: 40px;
    font-size: 25px;
    width: 80%;
    padding-left: 10%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  button.add{
    width: 20%;
    cursor: pointer;
    background: #E8E4D3;
    color: #454443;
    font-weight: bold;
    border: none;
    height: 38px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
  }

  main{
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin: auto auto;
    padding-top: 40px;
  }

  .item{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: #f3f5f7;
    height: 80px;
    width: 100%;
    box-shadow: 0 0 20px #b6b5b8;
    margin-bottom: 2%;
    cursor: pointer;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .item.clicado{
    background: #d4f6d9;
  
  }

  .item.clicado .item-nome{
    text-decoration: line-through;
    color: #8FA8B5;
  }

  .item-icone{
    flex: 20%;
    /*border: 1px solid orangered;*/
    text-align: center;
    font-size: 2rem;
  }
  .item-nome{
    flex: 55%;
    /*border: 1px solid rebeccapurple;*/
    height: 28px;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    
  }
  .item-botao{
    flex: 25%;
    
    /*border: 1px solid palevioletred;*/
    
  }

  .delete{
    background-color: #C73434;
    color: white;
    border: none;
    padding: 10px;
    height: 80px;
    width: 100%;
    cursor: pointer;
    
    border-top-right-radius: 20px;
    
    border-bottom-right-radius: 20px;
  }


